@{
    ViewData["Title"] = "Home Page";
    @model List<SearchResultItem>
}
<div class="container" style="margin-top: 16px;">
    <form class="form" asp-controller="Home" asp-action="Search" method="get">
        <div class="row">
            <div class="col-sm-11">
                <div class="form-group">
                    <input class="form-control" type="text" name="query" placeholder="搜索" />
                </div>
            </div>
            <div class="col-sm-1">
                <input class="btn btn-primary btn-block" type="submit" value="搜索" />
            </div>
        </div>
    </form>
    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a target="_blank" href="@item.Url">
                        <h3>@(item.Title == "" ? item.Url : item.Title)</h3>
                        <small>@item.Url</small>
                        <p>@item.Details</p>
                    </a>
                </li>
            }
        </ul>
    }
</div>